@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@500;700&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(212, 21%, 14%);
  --color-cream: hsl(30, 38%, 92%);
  --color-grey: hsl(228, 12%, 48%);
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  --text-preset1: 700 32px/100% "Fraunces", sans-serif;
  --text-preset2: 700 14px/110% "Montserrat", sans-serif;
  --text-preset3: 500 14px/160% "Montserrat", sans-serif;
  --text-preset4: 500 12px/120% "Montserrat", sans-serif;
  --text-preset4-letter-spacing: 5px;
  --text-preset5: 500 13px/120% "Montserrat", sans-serif;

  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-1600: 8rem; /* 128px */
}

html,
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  background-color: var(--color-cream);
}

body {
  /* 如果不开启特定的抗锯齿设置，字体往往会显得略微发虚、变粗，视觉上就会觉得“宽”了 */
  /* 针对 Chrome, Safari (Mac) */
  -webkit-font-smoothing: antialiased;
  /* 针对 Firefox (Mac) */
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;

  /* 这个强制居中不要用 */
  /* align-items: center; */
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 172px;
}

.card img {
  height: 342px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-300);
  padding: var(--spacing-400);
  background-color: var(--color-white);
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.title .text1 {
  font: var(--text-preset4);
  letter-spacing: var(--text-preset4-letter-spacing);
  color: var(--color-grey);
  text-transform: uppercase;
}

.title .text2 {
  font: var(--text-preset1);
  color: var(--color-black);
}

.title .text3 {
  font: var(--text-preset3);
  color: var(--color-grey);
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-200);
}

.price .current {
  font: var(--text-preset1);
  color: var(--color-green-500);
}

.price .original {
  font: var(--text-preset5);
  text-decoration: line-through;
  color: var(--color-grey);
}

.button {
  background-color: var(--color-green-500);
  display: flex;
  justify-content: center;
  gap: var(--spacing-100);
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: 16px 32px;
}

.button img {
  width: 18px;
  height: 18px;
  display: block;
  color: var(--color-white);
}

.button p {
  font: var(--text-preset2);
  color: var(--color-white);
}

/* * {
  outline: 1px solid red !important;
} */
